<html>
  <body style="font-size: 1.2em; padding: 10px 30px;">
    <div style="padding: 10px 0;">
      <p style="line-height: 1.2;">Hey ${name},</p>
    </div>
    <div style="padding: 10px 0 15px;">
      <p style="line-height: 1.2;">Thanks for joining Quokka! Click the button below to complete your account and get started using Quokka!</p>
    </div>
    <div style="padding: 10px 0; text-align: center">
      <a href="${link}" style="display: inline-block; margin: 0 auto; padding: 17px 48px; font-size: 1.2em; color: white; text-align: center; border-radius: 3px; background-color: #0DD5B2; text-decoration: none;">
        Complete My Account
      </a>
    </div>
  </body>
</html>