[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pylint = "*"
pytest-flask = "*"
pytest-mock = "*"
Flask-Script = "*"
snapshottest = "*"

[packages]
flask-restplus = "*"
Flask-SQLAlchemy = "*"
passlib = "*"
bcrypt = "*"
Flask-Migrate = "*"
requests = "*"
awesome-slugify = "*"
psycopg2 = "*"
